@import url("./navbar.css");
@import url("./swiper.css");
@import url("./cards.css");
@import url("./topics.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --background-color: #EBECEE;
    --second-color: #FFFFFF;
    --third-color: #002F52;
    --titles-buttons-color: #EB9B00;
    --navbarMenu-firstFrame-lastFrame-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font: "Poppins", sans-serif;
    --font-bold: 700;
    --font-regular: 400;
    --font-medium: 500;
    --font-light: 300;
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    font-size: 16px;
}
